arkrc
autostart/
dconf/
dolphinrc/
gedit/
glib-2.0/
Google/
google-chrome/
htop/
kdeglobals
kde.org/
lact/
legendary/
libfm/
lvim/
menus/
millennium/
mimeapps.list
nemo/
pcmanfm/
pulse/
pupgui/
QtProject.conf
Rare/
Ryujinx/
session/
steam-rom-manager/
sudachi/
systemd/
user-dirs.dirs
user-dirs.locale
vesktop/
wallpaper-engine-gui/
waypaper/
xarchiver/
xsettingsd/
YouTube Music/
