# Ignore everything by default
*
!*/

# Whitelist specific root files
!.gitignore
!README.md
!.bashrc
# Whitelist entire directories and their contents recursively
!systemd/**
!btop/**
!fastfetch/**
!fish/**
!gtk-3.0/**
!gtk-4.0/**
!qt5ct/**
!qt6ct/**
!kitty/**
!matugen/**
!niri/**
!nwg-look/**
!qt6ct/**
!quickshell/**
!rofi/**
!waypaper/**
!xdg-desktop-portal/**
!mango/**
!mimi/**
!helix/**
!mako/**
!xdg-desktop-portal/**
!yazi/**
Local
heroic
nvim
