layout {
    background-color "transparent"

    focus-ring {
        active-color   "#a5c8ff"
        inactive-color "#8c919c"
        urgent-color   "#ffb4ab"
    }

    border {
        off
        active-color   "#a5c8ff"
        inactive-color "#8c919c"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#a5c8ff"
        inactive-color "#8c919c"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#a5c8ff80"
    }
}
overview {
  backdrop-color "#00315e"
    workspace-shadow {
        color "#00000070"
    }
}
