spawn-at-startup "systemctl --user start xdg-desktop-portal-gnome"
spawn-at-startup "abbr"
spawn-at-startup "gamepad"
spawn-at-startup "firefox"
spawn-at-startup "steam"
spawn-at-startup "heroic"
spawn-at-startup "vesktop"
spawn-at-startup "quickshell"
spawn-at-startup "niriswitcher"
spawn-at-startup "waypaper" "--restore"
spawn-at-startup "wlsunset" "-g" "0.8" "-t" "6000" "-T" "6500"
spawn-at-startup "gamemoded"
spawn-at-startup "swaync"
spawn-at-startup "clipse" "-listen"
spawn-at-startup "XDG_MENU_PREFIX=arch-" "kbuildsycoca6"
spawn-at-startup "xremap" "~/.config/xremap.yml"
spawn-at-startup "xiccd"
spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP"
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-at-startup "xwayland-satellite"
//spawn-at-startup "wallpaperengine-gui -m"
//spawn-at-startup "ibus start"

