@import 'colors.css';

window.csd {
  -GtkWidget-window-dragging: false;
}

headerbar.titlebar {
  background: transparent;
  color: transparent;
  border: none;
  box-shadow: none;
  min-height: 0;
  padding: 0;
  margin: 0;
}

decoration {
  all: unset;
}